.member_wrapper {
    // display           : flex;
    // justify-content: center;
    position: relative;
    padding : 10px;
    overflow: hidden;


    table {
        // text-align     : center;
        text-decoration: none;
        text-transform : uppercase;
        font-weight    : 300;
        font-family    : 'Times New Roman', Times, serif;
    }

}